@model Fallas.Domain.Componente

@{
    ViewBag.Title = "Borrar";
}

<h2>Borrar Componente</h2>

<h3>¿ Seguro que quiere borrar este Componente ?</h3>
<div class="row">
    <div class="col-md-6">
        <div>

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nombre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Apellidos)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Apellidos)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Telefono)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Telefono)
                </dd>

            </dl>

        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color col-md-offset-1 col-md-11">
                <br />
                @Html.ActionLink("Volver", "Index", new { }, new { @class = "btn btn-primary" })
                <input type="submit" value="Borrar" class="btn btn-danger" />
            </div>
        }
    </div>

    <div class="col-md-5">
        @if (!string.IsNullOrEmpty(Model.Foto))
        {
            <img src="@Url.Content(Model.Foto500)" alt="image" />
        }
    </div>
</div>
