@model Fallas.Domain.Component

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle Componente</h2>

<div class="row">
    <div class="col-md-5">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Telephone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Telephone)
                </dd>

            </dl>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.ActionLink("Volver", "Index", new { }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Editar", "Edit", new { id = Model.ComponentId }, new { @class = "btn btn-info" })
                </div>
            </div>
        }

    </div>

    <div class="col-md-5">
        @if (!string.IsNullOrEmpty(Model.Foto))
        {
            <img src="@Url.Content(Model.Foto500)" alt="image" />
        }
    </div>
</div>

