@model Fallas.Domain.Act

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle Evento</h2>

<div class="row">
    <div class="col-md-5">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Titular)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Titular)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Descripcion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FechaActo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FechaActo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.HoraActo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.HoraActo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Precio)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Precio)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PrecioInfantiles)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PrecioInfantiles)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ActoOficial)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ActoOficial)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PagInicio)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PagInicio)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.YaEfectuado)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.YaEfectuado)
                </dd>

            </dl>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.ActionLink("Volver", "Index", new { }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Editar", "Edit", new { id = Model.IdAct }, new { @class = "btn btn-info" })
                </div>
            </div>
        }

    </div>

    <div class="col-md-5">
        @if (!string.IsNullOrEmpty(Model.Imagen))
        {
            <img src="@Url.Content(Model.Imagen500)" alt="image" />
        }
    </div>
</div>

